.sas__loading{
    .loading__img{
        width: 100%;
        height: 100vh;
    }
}
@include responsiveMin("xxxs"){
    .sas__loading{
        .loading__img{
            object-fit: cover;
        }
    }
}
@include responsiveMin("sm"){
    .sas__loading{
        .loading__img{
            object-fit: contain;
        }
    }
}